@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: #000000;  
    margin: 0 auto ;
} 

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ISg.woff2') format('woff2');
}

.banner-content {
  position: absolute;
  width: 510px;
  height: 393px;
  top: 56px;
  left: 465px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 16px;
  background: transparent;

}

.logo img{
    /* width: 248px;
    height: 214px; */
    background: transparent;
    scale: 0.9;


}

.logo{
    width: 214px;
    height: 214px;
    scale: 1.2;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 134px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.banner-content h1 {
    -webkit-background-clip: text;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    /*top:  340px;   /* distância do topo do frame */
    /*left: 503px;   /* distância da esquerda do frame */
    width: 434px;   /* opcional: mesma largura que o Figma */
    height: 47px;   /* opcional: mesma altura que o Figma */
    /*text-transform: uppercase;*/
}

.banner-content p{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 510px;
    height: 100px;
    background: transparent;

}

.banner-content button {
  display: flex;
  width: 326px;
  padding: 19px 91px;
  justify-content: center;
  align-items: center;
  gap: 31px;
  border: 2px solid #3BA1CD;
  background-color: transparent;
  color: #31A8DD;
  text-align: center;
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 3.36px;
  text-transform: uppercase;

}

.banner {
    position: relative;
    width: 100%;
    height: 605px;
    width: 1440px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 10%, rgba(10, 55, 74,0.6) 60%, rgba(0, 0, 0,0.0) 100%), url('../banner.png');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#course-content{
    width: 792px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

#course-content h2{
    width: 477px;
    height: 38px;
    color: #33A8DB;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;

}

#course-content p{
    width: 792px;
    height: 38px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.module{
    display: inline-block;
    width: 535px;
    padding: 16px 127px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    margin-bottom: 24px;

    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}

.module span{
    color: #33A8DB ;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
}

#transform-world{
    width: 1440px;
    height: 363px;
    margin: 160px auto 0;
    display: block;
    flex-shrink: 0;
    display: block; 
    overflow: hidden;
    position: relative;
    
    background: url('../woman-code.png') rgba(211, 211, 211, 0.127) 50% / cover no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
}

#transform-world p{
    position: absolute;
    width: 244px;
    height: 141px;
    left: 198px;
    top: 100px;
    margin: 0;
    color: #FFF;
    background-color: transparent;
    text-shadow: 3px 2px 0px #33A8DB;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: lowercase;

}

#professional-challenges h2{
    width: 800px;
    height: 76px; 
    margin-top: 60px;
    color: #33A8DB;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
    text-transform: uppercase;

}

#professional-challenges img{
    width: 659px;
    height: 429px;
    margin-left: 420px; 
    margin-top: 30px;
    
}

#professional-challenges p{
    width: 792px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

footer{
    width: 1440px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    flex-shrink: 0;
    border-top: 1px solid #33A8DB;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
    align-items: center;
}

footer img{
    width: 310px;
    height: auto;
    margin-top: 59px;
    background-color: transparent;
    margin-bottom: 8px;
}

footer p{
    width: 1000px;
    height: 259px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;

    background-color: transparent;
}

footer a{
    color: #33A8DB;
    text-decoration: none;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
}